.App {
  margin: auto;
  width: 50%;
  padding-bottom: 60px;
}


.delButton{
 
    width: 100%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  
}

.image img{
  width: 100%;

}

